
.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 500px;
    margin-right: 10px;
    padding: 1px 16px;
    height: 100%;
    width:84%;
    
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  


  .container4{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
form h1{
    color: black;
}
form{
    background: white ;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    height: 90%;
    width: 90%;
     max-width: 600px;

}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    background: #f5f5f5;

}
form button{
    padding: 15px;
    background: rgb(0, 0, 0)  ;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
}



  body {
    background: #5fcaff;
    background: -webkit-linear-gradient(to right, #40ecf2, #57f3cc);
    background: linear-gradient(to right, #4cd1c6, #71d2ff);
  
  font-family: "Roboto", sans-serif;
}




